.customers {
  margin-left: 8rem;
  padding-bottom: 7rem;
  background-color: #15141b;
}

.customers-paragraph {
  font-size: 1.4rem;
  color: #ddd;
  width: 50%;
  margin: 2rem auto 8rem auto;
  text-align: center;
}

.customers-card-wrapper {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
}

.customer-card {
  background-color: #eee;
  width: 80rem;
  display: flex;
  font-size: medium;


}

.customer-image-wrapper {
  margin: auto 0;
}

.customer-image {
  width: 20rem;
  margin-left: -1.3rem;
}

.customer-info {
  padding: 0 2rem;
}

.customer-fullname {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.customer-paragraph-1 {
  font-size: 1.2rem;
  font-style: italic;
  color: #b85d1c;
}

.full-star {
  color: #FFD700;
}

.empty-star {
  color: #C0C0C0;
}

.customer-paragraph-2 {
  font-size: 1.3rem;
  font-style: italic;
}


.prev-btn,
.next-btn {
  color: #b85d1c;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}